body{
    background-color:rgb(233, 240, 255);
    padding:10px;
}

textarea {
    min-height: 400px;
}

.email-line{
    display:flex;
    flex-direction: row;
    justify-items: space-evenly;
    flex-wrap: nowrap;
    border-bottom: 0.1mm solid black;
    padding:12px;
    font-size:17px;
}

.details{
    display:flex;
    flex-direction: row;
    justify-items: flex-start;
    flex-wrap: nowrap;
    width:98.5%;
}

.unread{
    text-decoration:none;
    font-weight: bold;
}

.read-line{
    background-color:rgba(179, 179, 179, 0.548);
}

.unread-line{
    background-color:white;
}

.email-line:hover{
    border: 2px solid rgba(18, 157, 199, 0.671);
    border-radius:1%;
    margin:0.5%;
    cursor:pointer;
}

.read{
    font-weight: normal;
}

.sender-st{
    width:35%;
    margin-right:2%;
}

.subject-st{
    width:30%;
    margin-right:2%;
}

.body-st{
    width:25%;
    margin-right:2%;
}

.timestamp-st{
    width:10%;
    justify-content: right;
}

.archive , .unarchive{
    border:1px solid black ;
    border-radius:100%;
    padding:3px;
    width:1.5%;
}

.archive:hover , .unarchive:hover{
    background:rgba(0, 247, 255, 0.561);
    cursor:pointer;
    border-radius:100%;
    padding:3px;
}

.svg{
    align-self:center;
    justify-self:center;
    align-content: center;
    justify-content: center;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.01);
  }


/*modal's css*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }